.reminders {
  width: 750px;
  height: 480px;
  border-radius: 12px;
  flex-direction: row;
  position: absolute;
  top: 30px;
  bottom: 78px;
  left: 50%;
  z-index: 10;
  margin: auto 0px;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.appBar {
  width: 37%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(248, 248, 248, 0.9);
  border-right: 1px solid rgba(198, 198, 200, 1);
}
.appBarBtnContainer {
  display: flex;
  align-self: flex-start;
  margin: 12px;
}
.searchbar {
  width: 90%;
  height: 24px;
  margin: 6px 0 18px 0;
  text-align: center;
  background: rgba(220, 218, 218, 1);
  border: none;
  border-radius: 6px;
  outline: none;
  color: rgba(70, 70, 70, 1);
  &::-webkit-input-placeholder {
    color: rgba(176, 176, 176, 0.9);
  }
}
.appBarLine {
  padding: 3px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tagContainer {
  width: 120px;
  height: 66px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tagLeftContainer {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
}
.tagRightContainer {
  display: flex;
  height: 90%;
}
.tagIconBox {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 3px 0;
}
.tagIcon {
  font-size: 16px;
  color: white;
}
.tagText {
  text-indent: 3px;
  font-size: 12px;
  font-weight: bold;
  &[data-active='true'] {
    color: white;
  }
  &[data-active='false'] {
    color: rgba(80, 79, 79, 1);
  }
}
.tagNumber {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
  margin-right: 3px;
  &[data-active='true'] {
    color: white;
  }
  &[data-active='false'] {
    color: rgba(80, 79, 79, 1);
  }
}
.content {
  width: 63%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(248, 248, 248, 1);
}
.remindersBar {
  width: 100%;
  height: 6%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.remindersContent {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.remindersSubtitle {
  font-size: 0.81rem;
  color: rgba(176, 176, 176, 1);
  padding: 3px;
  margin-left: 12px;
}
.remindersContentTitle {
  margin-top: 12px;
  width: 95%;
  padding: 12px 0;
  font-size: 36px;
  color: rgba(92, 98, 105, 1);
  font-weight: bold;
  border-bottom: 1px solid grey;
}
.dateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 3px 0;
}
.dateLine {
  width: 96%;
  display: flex;
  flex-direction: row;
  padding: 3px 0;
}
.eventWeek {
  font-size: 20px;
  font-weight: bold;
  padding: 3px;
}
.eventDate {
  font-size: 20px;
  padding: 3px;
}
.contentLine {
  margin-top: 6px;
  width: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.circleContainer {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.activeCircle {
  height: 14px;
  width: 14px;
  margin: 6px 0;
}
.contentContainer {
  width: 93%;
  padding: 3px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid grey;
}
.contentText {
  font-size: 12px;
  color: rgba(128, 128, 128, 1);
  padding: 3px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
