.finder {
  width: 810px;
  height: 480px;
  border-radius: 12px;
  flex-direction: row;
  position: absolute;
  top: 30px;
  bottom: 78px;
  left: 50%;
  z-index: 10;
  margin: auto 0px;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.appBar {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: rgba(248, 248, 248, 0.9);
  border-right: 1px solid rgba(198, 198, 200, 1);
  &::-webkit-scrollbar {
    display: none;
  }
}
.appBarBtnContainer {
  display: flex;
  flex-direction: column;
  margin: 6px;
}
.content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(248, 248, 248, 1);
}
.finderBar {
  width: 100%;
  height: 12%;
  border-bottom: 1px solid rgba(217, 216, 209, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.finderBarIconBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border-radius: 6px;
  &[data-available='true'] {
    color: rgba(113, 113, 113, 1);
    &:hover {
      background: rgba(238, 238, 238, 1);
    }
  }
  &[data-available='false'] {
    color: rgba(187, 187, 187, 1);
  }
}
.finderBarIcon {
  font-size: 16px;
}
.finderContent {
  width: 100%;
  height: 88%;
  display: flex;
}
.finderBarText {
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  margin: 3px;
  color: rgba(76, 76, 76, 1);
}
.finderSubtitle {
  font-size: 0.81rem;
  color: rgba(176, 176, 176, 1);
  padding: 3px;
  margin-left: 12px;
}
.appBarLine {
  width: 90%;
  min-height: 30px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  border-radius: 6px;
  &:hover {
    backdrop-filter: brightness(0.9);
  }
}
.appBarIconBox {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appBarIcon {
  color: rgba(2, 114, 247, 1);
  font-size: 14px;
}
.appBarTitle {
  font-size: 14px;
  margin: 0 3px;
  padding: 3px;
}
.appBarCircle {
  height: 12px;
  width: 12px;
  border-radius: 24px;
  margin: 6px;
}
.finderIconContainer {
  height: 120px;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.finderIconBox {
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finderIcon {
  font-size: 54px;
}
.finderIconText {
  text-align: center;
  width: 96px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
