.launchpad {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 20;
  background: rgba(white, 0.75);
  backdrop-filter: blur(6px);
  flex-direction: column;
  align-items: center;
  caret-color: transparent;
  cursor: default;
  overflow-x: hidden;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.searchbar-container {
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar {
  text-align: center;
}
.icon-container-track {
  width: 300vw;
  display: flex;
  flex-direction: row;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &[data-page='0'] {
    transform: translateX(100vw);
  }
  &[data-page='1'] {
    transform: translateX(0);
  }
}
.icon-page-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-container {
  display: flex;
  flex-direction: column;
  float: left;
  width: 84vw;
  height: 75vh;
}
.icon-line-container {
  height: 20%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.dot-container{
    display: flex;
    align-items: center;
    height: 6vh;
    justify-content: center;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &[data-active=true]{
        background:rgba(white, 0.75);
    }
    &[data-active=false]{
        background:rgba(grey, 0.5);
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}