.launchpad{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    z-index: 20;
    background: rgba(white, 0.75);
    backdrop-filter: blur(6px);
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
    cursor: default;
    &[data-show=true]{
        display: flex;
        animation: fadeIn 0.25s;
    }
    &[data-show=false]{
        display: none;
        animation: fadeOut 0.25s;
    }
}
.searchbar-container{
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    text-align: center;
}
.icon-container{
    display: flex;
    flex-direction: column;
    width:84vw;
    height: 75vh;
}
.icon-line-container{
    height: 20%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}