.siri {
  position: absolute;
  top: 30px;
  right: 6px;
  width: 300px;
  height: 120px;
  background: rgba(120, 120, 120, 0.9);
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  z-index: 30;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.siriText {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 30px;
  font-size: 0.81rem;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
