$RED-LIGHT:#FF1D30;
$RED-DARK:#FF453A;
$ORANGE-LIGHT:#FF9500;
$ORANGE-DARK:#FF9F0A;
$YELLOW-LIGHT:#FFCC00;
$YELLOW-DARK:#FFD60A;
$GREEN-LIGHT:#28CD41;
$GREEN-DARK:#32D74B;
$MINT-LIGHT:#00C7BE;
$MINT-DARK:#66D4CF;
$TEAL-LIGHT:#59ADC4;
$TEAL-DARK:#6AC4DC;
$CYAN-LIGHT:#55BEF0;
$CYAN-DARK:#5AC8F5;
$BLUE-LIGHT:#007AFF;
$BLUE-DARK: #0A84FF;
$INDIGO-LIGHT:#5856D6;
$INDIGO-DARK:#5E5CE6;
$PURPLE-LIGHT:#AF52DE;
$PURPLE-DARK:#BF5AF2;
$RED-LIGHT:#FF2D55;
$RED-DARK:#FF375F;
$BROWN-LIGHT:#A2845E;
$BROWN-DARK:#AC8E68;
$GREY-LIGHT:#8E8E93;
$GREY-DARK:#98989D;