$RED-LIGHT: #ff1d30;
$RED-DARK: #ff453a;
$ORANGE-LIGHT: #ff9500;
$ORANGE-DARK: #ff9f0a;
$YELLOW-LIGHT: #ffcc00;
$YELLOW-DARK: #ffd60a;
$GREEN-LIGHT: #28cd41;
$GREEN-DARK: #32d74b;
$MINT-LIGHT: #00c7be;
$MINT-DARK: #66d4cf;
$TEAL-LIGHT: #59adc4;
$TEAL-DARK: #6ac4dc;
$CYAN-LIGHT: #55bef0;
$CYAN-DARK: #5ac8f5;
$BLUE-LIGHT: #007aff;
$BLUE-DARK: #0a84ff;
$INDIGO-LIGHT: #5856d6;
$INDIGO-DARK: #5e5ce6;
$PURPLE-LIGHT: #af52de;
$PURPLE-DARK: #bf5af2;
$RED-LIGHT: #ff2d55;
$RED-DARK: #ff375f;
$BROWN-LIGHT: #a2845e;
$BROWN-DARK: #ac8e68;
$GREY-LIGHT: #8e8e93;
$GREY-DARK: #98989d;
