@use '../../../utils/colors.scss';
.contacts {
  width: 900px;
  height: 360px;
  border-radius: 12px;
  flex-direction: row;
  position: absolute;
  top: 30px;
  bottom: 78px;
  left: 50%;
  z-index: 10;
  margin: auto 0px;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.appBar {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(248, 248, 248, 0.9);
  border-right: 1px solid rgba(198, 198, 200, 1);
}
.appBarBtnContainer {
  display: flex;
  flex-direction: column;
  margin: 6px;
}
.appBarTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 95%;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  background: colors.$BLUE_LIGHT;
  padding: 3px;
  text-indent: 6px;
  margin: 12px 0;
}
.content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(248, 248, 248, 1);
}
.contactsBar {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(217, 216, 209, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactsContent {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactsBarTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 90%;
  font-size: 14px;
  border-radius: 6px;
  padding: 6px 3px;
  text-indent: 6px;
  &[data-active='true'] {
    background: colors.$BLUE_LIGHT;
    color: white;
  }
}
.searchbar {
  width: 90%;
  height: 24px;
  margin: 12px 0;
  text-align: center;
  background: rgba(232, 232, 232, 1);
  border: none;
  border-radius: 6px;
  outline: none;
  color: rgba(70, 70, 70, 1);
  &::-webkit-input-placeholder {
    color: rgba(176, 176, 176, 0.9);
  }
}
.iconContainer {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contactsIconBox {
  background-color: rgba(163, 167, 179, 1);
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactsIcon {
  color: white;
  font-size: 36px;
}
.contactsIconText {
  width: 45%;
  margin-left: 12px;
}
.methodContainer {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contactsInfoContainer {
  display: flex;
  height: 60%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.methodIconBox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: colors.$BLUE_LIGHT;
  margin: 12px;
}
.methodIcon {
  font-size: 14px;
  color: white;
}
.contactsInfoLine {
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 3px;
  padding: 3px;
}
.contactsInfoLineTitle {
  width: 96px;
  font-size: 14px;
  text-align: end;
  color: rgba(176, 176, 176, 1);
}
.contactsInfoLineText {
  font-size: 14px;
  margin-left: 12px;
}
.contactsInfoLineIcon {
  font-size: 14px;
  margin: auto 6px;
  color: rgba(176, 176, 176, 1);
}
.cotactsSubtitle {
  font-size: 0.81rem;
  color: rgba(176, 176, 176, 1);
  padding: 3px;
  margin-left: 12px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
