@use '../../utils/colors';
$menubar-height: 24px;
$default-padding-regular: 0 12px;
$default-padding-small: 0 6px;
$default-menubar-background-color: rgba(white, 0.75);
$active-background-color: rgba(grey, 0.25);
$default-menubar-font-size: 0.81rem;
$default-menubar-border-radius-small: 1.5px;
$default-menubar-border-radius-regular: 6px;
$default-menubar-border-radius-large: 12px;
$default-border-radius-regular: 6px;
$default-backdrop-filter-blur: 6px;
$control-block-background-color: rgba(white, 0.75);
$control-box-shadow: 0 0 1px 1px rgba(grey, 0.1);
$default-zindex: 10;
%item-shared {
  height: 100%;
  border-radius: $default-menubar-border-radius-small;
  &[data-active='true'] {
    background-color: $active-background-color;
  }
}
.menubar {
  width: 100vw;
  height: $menubar-height;
  position: absolute;
  background-color: $default-menubar-background-color;
  top: 0;
  z-index: $default-zindex;
  caret-color: transparent;
  cursor: default;
  display: flex;
  justify-content: space-between;
}
.menubar-left {
  height: 100%;
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.menubar-right {
  height: 100%;
  margin-right: 6px;
  display: flex;
  align-items: center;
}
.menubaricon {
  @extend %item-shared;
  display: flex;
  align-items: center;
  padding: $default-padding-small;
}
.menubariconapple {
  @extend %item-shared;
  display: flex;
  align-items: center;
  padding: $default-padding-regular;
}
.menubaricon-content {
  font-size: 0.81rem;
}
.menubarItem {
  @extend %item-shared;
  font-size: $default-menubar-font-size;
  text-align: center;
  line-height: $menubar-height;
  padding: $default-padding-regular;
}
.date {
  @extend %item-shared;
  line-height: $menubar-height;
  font-size: $default-menubar-font-size;
  padding: $default-padding-regular $default-padding-small;
}

%panel-shared {
  top: $menubar-height + 6px;
  width: 282px;
  position: absolute;
  padding: 6px 0;
  backdrop-filter: blur($default-backdrop-filter-blur);
  background-color: $default-menubar-background-color;
  border-radius: $default-menubar-border-radius-large;
  z-index: $default-zindex;
  flex-direction: column;
  caret-color: transparent;
  cursor: default;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.WiFi-Panel {
  @extend %panel-shared;
  right: 228px;
}
%panel-line-shared {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $default-menubar-border-radius-regular;
  padding: 3px 6px;
  margin: 0 6px;
}
.panel-title {
  font-size: $default-menubar-font-size;
  font-weight: bold;
  left: 0;
}
.panel-switch {
  right: 0;
}
.separator {
  margin: 3px auto;
  background-color: $active-background-color;
  width: 90%;
  height: 1px;
}
.panel-line-normal {
  @extend %panel-line-shared;
}
.panel-line-normal-hover {
  @extend %panel-line-shared;
  &:hover {
    background-color: $active-background-color;
  }
}
.panel-line-between {
  @extend %panel-line-shared;
  justify-content: space-between;
}
.panel-line-between-hover {
  @extend %panel-line-shared;
  justify-content: space-between;
  &:hover {
    background-color: $active-background-color;
  }
}
.panel-subtitle {
  color: rgba(grey, 1);
  font-size: 0.72rem;
  font-weight: bold;
  left: 0;
}
.panel-left {
  display: flex;
  align-items: center;
  left: 0px;
}
.panel-right {
  display: flex;
  align-items: center;
  right: 0px;
}
.panel-icon-box {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  &[data-on='true'] {
    color: white;
    background-color: rgba(colors.$BLUE-LIGHT, 1);
  }
  &[data-on='false'] {
    background-color: rgba(grey, 0.25);
  }
}
.panel-icon {
  font-size: 0.81rem;
}
.panel-icon-small {
  font-size: 0.72rem;
}
.panel-text {
  font-size: 0.81rem;
  margin-left: 3px;
  padding: 3px;
}

.Battery-Panel {
  @extend %panel-shared;
  right: 6px;
}

%input-hover-shared {
  color: white;
  background-color: rgba(colors.$BLUE-LIGHT, 1);
}
.Input-Panel {
  @extend %panel-shared;
  right: 288px;
}
.input-line {
  @extend %panel-line-shared;
  &:hover {
    @extend %input-hover-shared;
  }
}
.input-checked {
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  padding: $default-padding-small;
}

.Focus-Panel {
  @extend %panel-shared;
  right: 300px;
}
.focus-line1 {
  align-items: center;
  border-radius: $default-menubar-border-radius-regular;
  padding: 6px;
  margin: 0 6px;
  flex-direction: column;
}
.focus-checked {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bluetooth-Panel {
  @extend %panel-shared;
  right: 6px;
}

.Control-Panel {
  top: $menubar-height + 6px;
  width: 300px;
  position: absolute;
  padding: 6px 0;
  backdrop-filter: blur($default-backdrop-filter-blur);
  background-color: $default-menubar-background-color;
  border-radius: 12px;
  z-index: $default-zindex;
  flex-direction: column;
  caret-color: transparent;
  cursor: default;
  justify-content: space-between;
  right: 6px;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.control-line1 {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.control-line2 {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $control-block-background-color;
  border-radius: 6px;
  align-items: center;
  margin: 6px;
}
.control-line1-left {
  width: 47%;
  margin-left: 6px;
  background-color: $control-block-background-color;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $control-box-shadow;
}
.control-line1-right {
  width: 47%;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control-line1-left-block {
  display: flex;
  flex-direction: row;
  margin: 6px;
  align-items: center;
}
.control-line1-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px;
}
.control-title {
  font-size: 0.81rem;
  padding: 0 3px;
}
.control-subtitle {
  font-size: 0.54rem;
  font-weight: bold;
  padding: 0 3px;
}
.control-line1-right-line1 {
  width: 100%;
  height: 50%;
  background-color: $control-block-background-color;
  box-shadow: $control-box-shadow;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.control-focus {
  display: flex;
  align-items: center;
}
.control-line1-right-line2 {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.control-block-small {
  height: 100%;
  width: 48%;
  background-color: $control-block-background-color;
  box-shadow: $control-box-shadow;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.control-album-image {
  height: 54px;
  width: 54px;
  border-radius: 6px;
}
.control-line2-left {
  width: 72%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6px;
}
.control-line2-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15%;
  justify-content: space-between;
  margin-right: 12px;
}
.control-music-info {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.Apple-Panel {
  top: $menubar-height + 6px;
  width: 240px;
  position: absolute;
  padding: 6px 0;
  backdrop-filter: blur($default-backdrop-filter-blur);
  background-color: $default-menubar-background-color;
  border-radius: $default-menubar-border-radius-large;
  z-index: $default-zindex;
  flex-direction: column;
  caret-color: transparent;
  cursor: default;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  left: 6px;
}
.apple-panel-line {
  @extend %panel-line-shared;
  &:hover {
    background-color: $active-background-color;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
