.Preferences {
  width: 600px;
  height: 300px;
  border-radius: 12px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background: rgba(white, 0.75);
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.appbar-container {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.appbar-container-left {
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.appbar-container-center {
  background: rgba(white, 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.appbar-container-btn {
  display: flex;
  align-items: center;
  font-size: 0.81rem;
  padding: 3px 6px;
  border-radius: 3px;
  &[data-active='true'] {
    background: rgba(grey, 0.25);
  }
}
%content-container-shared {
  width: 100%;
  height: 85%;
}
.overview-container {
  @extend %content-container-shared;
  display: flex;
  flex-direction: column;
}
.overview-content {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}
.overview-footer {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(grey, 0.75);
  font-size: 0.54rem;
}
.overview-left {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview-right {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overview-img {
  width: 75%;
}
.overview-right-line1 {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.overview-right-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overview-title {
  font-size: 1.44rem;
  font-weight: bold;
  padding: 3px;
}
.overview-subtitle {
  font-size: 1.44rem;
  padding: 3px;
}
.overview-right-line-name {
  font-size: 0.81rem;
  font-weight: bold;
  padding: 3px;
}
.overview-right-line-value {
  font-size: 0.81rem;
  padding: 3px;
}
.overview-right-line2 {
  height: 60%;
}
.Displays-container {
  @extend %content-container-shared;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.displays-img {
  font-size: 8rem;
  padding: 12px;
  margin: 12px;
}
.displays-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 3px;
}
.displays-subtitle {
  font-size: 0.81rem;
  padding: 3px;
}
.Storage-container {
  @extend %content-container-shared;
  display: flex;
  align-items: center;
  justify-content: center;
}
.storage-constraint {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}
.storage-left {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.storage-img {
  font-size: 4rem;
  padding: 6px;
}
.storage-text {
  font-size: 0.81rem;
  padding: 3px;
}
.storage-right {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.storage-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 3px;
}
.storage-status-bar {
  height: 24px;
  width: 80%;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 3px;
}
.storage-status-item {
  height: 100%;
}
.About-container {
  @extend %content-container-shared;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-content {
  width: 80%;
  height: 80%;
  font-size: 0.81rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  line-height: 1.44em;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
