.calendar {
  width: 800px;
  height: 450px;
  border-radius: 12px;
  flex-direction: row;
  position: absolute;
  top: 30px;
  bottom: 96px;
  left: 50%;
  z-index: 10;
  margin: auto 0px;
  transform: translate3d(-50%, 0, 0);
  overflow: hidden;
  &[data-show='true'] {
    display: flex;
    animation: fadeIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &[data-show='false'] {
    display: none;
    animation: fadeOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.appBarBtnContainer {
  display: flex;
  flex-direction: column;
  margin: 6px;
  z-index: 15;
}
.calendarSubtitle {
  font-size: 0.81rem;
  color: rgba(176, 176, 176, 1);
  padding: 3px;
  margin-left: 12px;
}
